/* UranusCarousel.css */
.uranus-carousel-container {
    background-color: #121212; /* Dark background color */
  }
  
  .uranus-token-image {
    max-width: 200px; /* Set maximum width for the token image */
    margin: 0 auto; /* Center the image */
    display: block; /* Make it a block element */
  }
  
  .image {
    width: 100%; /* Make images responsive */
    border-radius: 8px; /* Add border radius for rounded corners */
  }
  
  /* Add more CSS styles for other elements as needed */
  .navbaar {
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .button button {
    padding: 15px;
    background-color: black;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    width: 180px;
  }
  
  @media screen and (max-width: 340px) {
    .navbaar {
      display: flex;
      flex-direction: column;
    }
  }
  